---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
<<<<<<< HEAD
background-color: none;
background-image:url('arka.jpg');
/*background-repeat: no-repeat;*/
background-attachment: fixed

}
=======
background-color: white;
background-image:url('../chrome/arka.jpg')
